body {
  margin: 0 30px;
  background-color: #eceff1;
}

section {
  margin-top: 20px;
}

h1 .source {
  float: right;
  font-size: 14px;
  line-height: 36px;
}

h1 .source a {
  text-decoration: none;
  color: initial;
}

#pattern {
  display: table;
}

#pattern>div {
  display: table-row;
}

#pattern>div>div {
  display: table-cell;
  width: 100%;
  vertical-align: top;
}

#pattern .auto-growing-editor {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

#pattern #flags {
  width: 100px;
  float: left;
}

#flags .btn:first-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: -1px;
}

#copy {
  margin-left: 10px;
  padding: 8px 7px 4px 10px;
}

#copy.hover {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
  text-decoration: none;
}

#pattern textarea, #input textarea {
  position: relative;
  z-index: 2;
}

#matches th:first-child {
  width: 30px;
}

/* editable content */
.auto-growing-editor,
.auto-growing-editor-container {
  width: 100%;
}

.auto-growing-editor-container {
  background-color: #fbfbfb;
}

.auto-growing-editor {
  height: 20px;
  padding: 6px 12px;
  font-family: "courier new", monospace;
  border: 1px solid #ccc;
  text-align: center;
}

pre.auto-growing-editor {
  z-index: 1;
}

.auto-growing-editor mark {
  color: transparent;
}

#haystack.auto-growing-editor,
#haystack.auto-growing-editor+pre
{
  text-align: left;
}

/* based on regex-colorizer/thems/regexpal.css */
b, i, u {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

/* metasequence */
b { background: #aad1f7; }

/* char class */
i { background: #f9ca69; }

/* char class: metasequence */
i b { background: #f7a700; }

/* char class: range-hyphen */
i u { background: #efba4a; }
.g1 { background: #d2f854; }
.g2 { background: #9ec70c; }
.g3 { background: #ecc9f7; }
.g4 { background: #54b70b; }
.g5 { background: #b688cf; }

b.err { background: #ff4300; }


@media (max-width: 480px) {
  body {
    margin: 0 10px;
  }

  .page-header {
    margin: 20px 0 10px;
    text-align: center;
  }
  h1 {
    font-size: 22px;
  }
  h1 small {
    display: block;
  }

  h1 .source {
    float: none;
  }

  .table {
    margin-bottom: 50px;
  }
}
